body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #2575fc, #6a11cb);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    backdrop-filter: blur(10px);
}

h1 {
    color: #fff;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

label {
    margin-right: 10px;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 60px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #6a11cb;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

button:disabled {
    background-color: #bbb;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #4e10a3;
}

#timer, #break-timer-container {
    margin: 20px 0;
}

#timer span, #break-time {
    font-size: 3em;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

#session-details {
    margin-bottom: 20px;
}

#session-info {
    font-size: 1.2em;
}

#break-timer-container h2 {
    font-size: 1.5em;
    color: #fff;
}

#volume-control {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#volume-control button {
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #6a11cb;
    color: #fff;
    transition: background-color 0.3s ease;
    margin: 0 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

#volume-control button:hover {
    background-color: #4e10a3;
}

#volume-level {
    font-size: 1em;
    color: #fff;
}
